.Input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 0 0 1rem skyblue;
    border-radius: 2rem;
}
.Input input{
    text-align: center;
    font-size: 2rem;
    padding: .2rem;
    width: 50%;
}
.Input button{
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.Input button:hover{
    background-color: springgreen;
}